@import '../../../styles/typography.scss';

.change {
  display: flex;
  flex-direction: row;
  


  &__button {
    display: flex;
    margin: 0 auto;
    padding: 15px 20px;
    align-items: center;
    justify-content: center;
  }
}

.form--product {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.submit-but {
  &:disabled {
    opacity: 0.40;
    cursor: default;
    background: var(--color-accent-tertiary);

    &:hover {
      background-color: unset !important;
      color: unset !important;
      background: var(--color-accent-tertiary);
    }
  }
}

